# Base de Datos con Python
----------------------------------------------------

En esta sección conoceremos realizaremos una introducción a las bases de datos con Python. Para esto emplearemos SQLLite el cual ya viene preinstalado en python.

## 1. Introducción a las Bases de Datos
-------------------------------------------

Las bases de datos son conjuntos de información que se almacenan y se consultan con un sistema. Los gestores de bases de datos son un tipo de software que permite estructurar una base de datos, almacenar la información y consultarla.

https://www.youtube.com/watch?v=knVwokXITGI

<img src=''>

## 1.1. SQL Lite

SQLite es una biblioteca de C que provee una base de datos ligera basada en disco que no requiere un proceso de servidor separado y permite acceder a la base de datos usando una variación no estándar del lenguaje de consulta SQL. Algunas aplicaciones pueden usar SQLite para almacenamiento interno.

## 2. Lenguaje SQL
---------------------------

El lenguaje más utilizado en las bases de datos relacionales el lenguaje SQL (Lenguaje de Consulta Estructurada), y es necesario aprenderlo si queremos utilizar este tipo de bases de datos en nuestros programas.

<img src='https://1.bp.blogspot.com/-MuCO0K5sehg/WjPVIdp87LI/AAAAAAAABRY/Ny7-YC-tIGIHLP6dShGWEagAlEw54OXnACLcBGAs/s1600/sentencias_sql.png'>

## 3. Primeros pasos SQL Lite

In [ ]:
# Importamos el módulo
import sqlite3

# Nos conectamos a la base de datos ejemplo.db (la crea si no existe)
conexion = sqlite3.connect('ejemplo.db')

# Cerramos la conexión, si no la cerramos quedará abierta
# y no podremos gestionar el fichero
conexion.close()

with sqlite3.connect('ejemplo.db') as conn:
    pass

### 3.1 Creación de una Tabla

In [ ]:
import sqlite3

sentencia = """
CREATE TABLE IF NOT EXISTS usuarios(
    nombre VARCHAR(100),
    edad INTEGER,
    email VARCHAR(100)
)
"""

with sqlite3.connect('ejemplo.db') as conexion:
    # Creamos el cursor
    cursor = conexion.cursor()

    # Ahora crearemos una tabla de usuarios con nombres, edades y emails
    cursor.execute(sentencia)

    # Guardamos los cambios haciendo un commit
    conexion.commit()

### 3.2 Insertar

In [ ]:
import sqlite3

sentencia = """
INSERT INTO usuarios VALUES
('Hector', 27, 'hector@ejemplo.com')
"""

with sqlite3.connect('ejemplo.db') as conexion:
    
    cursor = conexion.cursor()
    
    # Insertamos un registro en la tabla de usuarios
    cursor.execute(sentencia)

    # Guardamos los cambios haciendo un commit
    conexion.commit()

### 3.3 Lectura de Datos

In [ ]:
import sqlite3

with sqlite3.connect('ejemplo.db') as conexion:
    cursor = conexion.cursor()

    # Recuperamos los registros de la tabla de usuarios
    cursor.execute("SELECT * FROM usuarios")

    # Mostrar el cursos a ver que hay ?
    print(cursor)

    # Recorremos el primer registro con el método fetchone, devuelve una tupla
    usuario = cursor.fetchone()
    pass

print(usuario)

In [ ]:
import sqlite3

# Creamos una lista de tuplas con varios usuarios
usuarios = [('Mario', 51, 'mario@ejemplo.com'),
            ('Mercedes', 38, 'mercedes@ejemplo.com'),
            ('Juan', 19, 'juan@ejemplo.com')]

with sqlite3.connect('ejemplo.db') as conexion:
    
    cursor = conexion.cursor()

    # Ahora utilizamos el método executemany() para insertar varios
    cursor.executemany("INSERT INTO usuarios VALUES (?,?,?)", usuarios)

    # Guardamos los cambios haciendo un commit
    conexion.commit()
    pass

In [ ]:
import sqlite3

with sqlite3.connect('ejemplo.db') as conexion:
    cursor = conexion.cursor()

    # Recuperamos los registros de la tabla de usuarios
    cursor.execute("SELECT * FROM usuarios")

    # Recorremos todos los registros con fetchall
    # y los volcamos en una lista de usuarios
    usuarios = cursor.fetchall()
    pass

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)